.omg-anilist:before { content: "\e044"; }
.omg-archiveofourown:before { content: "\e045"; }
.omg-basic-attention-token:before { content: "\e046"; }
.omg-bookshop:before { content: "\e047"; }
.omg-buymeacoffee:before { content: "\e048"; }
.omg-cash-app:before { content: "\e049"; }
.omg-clarus:before { content: "\e061"; }
.omg-clubhouse:before { content: "\e052"; }
.omg-coindrop:before { content: "\e050"; }
.omg-eyeem:before { content: "\e051"; }
.omg-fastmail:before { content: "\e001"; }
.omg-fediverse:before { content: "\e053"; }
.omg-geotastic:before { content: "\e056"; }
.omg-giphy:before { content: "\e002"; }
.omg-gumroad:before { content: "\e003"; }
.omg-hackerone:before { content: "\e004"; }
.omg-hey:before { content: "\e054"; }
.omg-honk:before { content: "\e005"; }
.omg-instapaper:before { content: "\e055"; }
.omg-keyoxide:before { content: "\e006"; }
.omg-ko-fi:before { content: "\e060"; }
.omg-letterboxd:before { content: "\e007"; }
.omg-liberapay:before { content: "\e008"; }
.omg-lichess:before { content: "\e009"; }
.omg-litecoin:before { content: "\e010"; }
.omg-literal:before { content: "\e011"; }
.omg-lobsters:before { content: "\e012"; }
.omg-matrix:before { content: "\e013"; }
.omg-mediawiki:before { content: "\e065"; }
.omg-musicboard:before { content: "\e014"; }
.omg-myanimelist:before { content: "\e015"; }
.omg-ninegag:before { content: "\e043"; }
.omg-nintendo-switch:before { content: "\e016"; }
.omg-notion:before { content: "\e017"; }
.omg-opensea:before { content: "\e018"; }
.omg-osk:before { content: "\e019"; }
.omg-osu:before { content: "\e057"; }
.omg-pinboard:before { content: "\e020"; }
.omg-plutonium:before { content: "\e021"; }
.omg-polywork:before { content: "\e022"; }
.omg-postype:before { content: "\e023"; }
.omg-prami:before { content: "\e042"; }
.omg-procreate:before { content: "\e059"; }
.omg-pronounspage:before { content: "\e058"; }
.omg-rainbow-me:before { content: "\e024"; }
.omg-rarible:before { content: "\e025"; }
.omg-ravencoin:before { content: "\e026"; }
.omg-revue:before { content: "\e027"; }
.omg-roblox:before { content: "\e028"; }
.omg-session:before { content: "\e062"; }
.omg-signal-app:before { content: "\e029"; }
.omg-sourcehut:before { content: "\e066"; }
.omg-spacehey:before { content: "\e030"; }
.omg-spark-ar:before { content: "\e031"; }
.omg-tetrio:before { content: "\e032"; }
.omg-threema:before { content: "\e033"; }
.omg-tinyletter:before { content: "\e034"; }
.omg-toss:before { content: "\e035"; }
.omg-venmo:before { content: "\e036"; }
.omg-verified:before { content: "\e063"; }
.omg-vero:before { content: "\e037"; }
.omg-wattpad:before { content: "\e038"; }
.omg-well:before { content: "\e039"; }
.omg-wikimedia-community:before { content: "\e064"; }
.omg-writeas:before { content: "\e040"; }
.omg-xmpp:before { content: "\e041"; }
.omg-codeberg:before { content: "\e073"; }
.omg-sudomemo:before { content: "\e067"; }
.omg-rate-your-music:before { content: "\e068"; }
.omg-read-cv:before { content: "\e069"; }
.omg-revolt:before { content: "\e070"; }
.omg-vukky:before { content: "\e071"; }
.omg-laker:before { content: "\e072"; }
.omg-neatnik:before { content: "\e074"; }
.omg-credly:before { content: "\e075"; }
.omg-pixelfed:before { content: "\e076"; }
.omg-passkey:before { content: "\e077"; }
.omg-ecosia:before { content: "\e078"; }
.omg-mltshp:before { content: "\e080"; }
.omg-andycarolan:before { content: "\e081"; }
.omg-cohost:before { content: "\e082"; }
.omg-json-feed:before { content: "\e083"; }
.omg-zioibi:before { content: "\e084"; }
.omg-fandom:before { content: "\e085"; }
.omg-tor:before { content: "\e086"; }
.omg-niconico:before { content: "\e087"; }
.omg-robb:before { content: "\e088"; }
.omg-bunny-omg-lol:before { content: "\e089"; }
